# # EMAIL
# EMAIL_VERIFY_SETUP	Check if email setup is properly configured.	true
# EMAIL_FROM	Email address from which emails are sent.	no-reply@example.com
# EMAIL_TRANSPORT	What to use to send emails. One of sendmail, smtp, mailgun, ses.	sendmail
# EMAIL_TEMPLATES_PATH	Where custom templates are located	./templates

# Based on the EMAIL_TRANSPORT used, you must also provide the following configurations:

# # Sendmail (sendmail)
# EMAIL_SENDMAIL_NEW_LINE	What new line style to use in sendmail.	unix
# EMAIL_SENDMAIL_PATH	Path to your sendmail executable.	/usr/sbin/sendmail

# # SMTP (smtp)
# EMAIL_SMTP_HOST	SMTP server host	--
# EMAIL_SMTP_PORT	SMTP server port	--
# EMAIL_SMTP_USER	SMTP user	--
# EMAIL_SMTP_PASSWORD	SMTP password	--
# EMAIL_SMTP_POOL	Use SMTP pooling	--
# EMAIL_SMTP_SECURE SMTP secure --
# EMAIL_SMTP_IGNORE_TLS	Ignore STARTTLS	--
# EMAIL_SMTP_NAME SMTP name --

# # Mailgun (mailgun)
# EMAIL_MAILGUN_API_KEY	Your Mailgun API key.	--
# EMAIL_MAILGUN_DOMAIN	A domain from your Mailgun account	--
# EMAIL_MAILGUN_HOST	Allows you to specify a custom host.	api.mailgun.net

# # AWS SES (ses)
# EMAIL_SES_CREDENTIALS__ACCESS_KEY_ID
# EMAIL_SES_CREDENTIALS__SECRET_ACCESS_KEY	# Your AWS SES secret key.	--
# EMAIL_SES_REGION	# Your AWS SES region.	
