# <img src="packages/patchbay/bundle/assets/public-favicon.svg" alt="Patchbay" style="height: 2rem; margin-bottom: 0;" /> Patchbay [WIP](https://github.com/artificialhoney/patchbay)

> The brilliant [cables.gl](https://cables.gl) app on a state of the art full-stack platform. [CHECK IT OUT](https://patchbay.honeymachine.io)

## Stack

- Postgres DB
- Redis Cache
- Directus HeadlessCMS
- Patchbay App

## Installation

This is a `pnpm` workspace / monorepo.

```bash
pnpm i
```

## Development

Run the stack.

```bash
pnpm dev
```

Open <http://0.0.0.0:3000>.

## Production

Deploy the stack with `docker compose`:

```yaml
{% include "docker-compose.yml" %}
```

## Clean Code

Before you commit, run `prettier` and `eslint`:

```bash
pnpm format
pnpm lint
```

For commit hooking you can use [pre-commit](https://pre-commit.com/).

## LICENSE

The MIT License [MIT](LICENSE)

Copyright (c) 2025 honeymachine.io

Copyright (c) 2019-present undefined development

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
